<template>
    <div class="row">
        <div class="col-md-9 col-xs-9">
            <widget-links :widget-links="LatestFiles" title="اخرین فایل های"></widget-links>
            <widget-links :widget-links="LatestPackages" title="آخرین پکیج ها"></widget-links>
        </div>
        <div class="col-md-3 col-xs-3">
            <widget-links :widget-links="Categories" title="دسته ها"></widget-links>
            <widget-links :widget-links="MustDownloads" title="بیشترین دانلود"></widget-links>
        </div>
    </div>
</template>

<script>
    import WidgetLinks from "./Partial/WidgetLinks.vue";
    export default {
        name: "Home",
        components: {WidgetLinks},
        methods:{
            SetWidgetData(data){
                this.LatestFiles = data.LatestFiles
                this.LatestPackages = data.LatestPackages
                this.Categories = data.Categories
                this.MustDownloads = data.MustDownloads
            },
            GetLatestFiles(){
                axios.get('/api/LatestFiles')
                        .then(response => this.LatestFiles)
                        .catch(error => console.log(error))
            },
            GetLatestPackages(){
                axios.get('/api/LatestPackages')
                    .then(response => this.LatestPackages)
                    .catch(error => console.log(error))
            },
            GetCategories(){
                axios.get('/api/Categories')
                    .then(response => this.Categories)
                    .catch(error => console.log(error))
            },
            GetMustDownloads(){
                axios.get('/api/MustDownloads')
                    .then(response => this.MustDownloads)
                    .catch(error => console.log(error))
            },
        },
        data(){
            return {
                LatestFiles: [],
                LatestPackages: [],
                Categories: [],
                MustDownloads: [],
            }
        },
        created(){
            axios.get('/api/HomeWidgetData')
                .then(response => this.SetWidgetData(response.data))
                .catch(error => console.log(error))
        }
    }
</script>

<style scoped>

</style>