<template>
    <div>
        <nav-bar></nav-bar>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import NavBar from "../Nav";
    export default {
        name: "AppLayout",
        components: {NavBar}
    }
</script>

<style scoped>

</style>