<template>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">مدیریت فروشگاه فایل</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
<!--            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--                <ul class="nav navbar-nav">-->
<!--                    <li v-for="Link in Links" class="dropdown">-->
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{Link.name}}<span class="caret"></span></a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li v-for="SubLink in Link.Links"><a :href="SubLink.Link">{{SubLink.name}}</a></li>-->
<!--                        </ul>-->
<!--                </ul>-->
<!--            </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        </div><!-- /.container-fluid -->
    </nav>
</template>

<script>
    export default {
        name: "Nav",
    }
</script>

<style scoped>

</style>