<template>
    <div class="row">
        <div class="col-md-9 col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading"><div class="file-icon file-icon-sm" :data-type="file.FileType" style="float: left"></div>جزئیات فایل</div>
                <div class="panel-body">
                    <h3><span>نام فایل:</span>{{file.title}}</h3>
                    <p>{{file.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-me-3 col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">خرید فایل</div>
                <div class="panel-body">
                    <h1>خرید فایل</h1>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "Details",
        data(){
            return{
                file: null,
            }
        },
        created() {
            axios.get('/api/file/'+this.$route.params.fileId)
                    .then(responce => this.file = responce.data)
                    .catch(error => console.log(error))
        }
    }
</script>

<style scoped>
@import "/css/fileicon.css";
</style>