<template>
    <div class="panel panel-default">
        <div class="panel-heading">{{Title}}</div>
        <div class="panel-body">
            <ul>
                <li v-for="Link in WidgetLinks"><router-link :to="'/'+Link.route+'/'+Link.id">{{ Link.title ? Link.title : Link.name}}</router-link></li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props:['WidgetLinks' , 'Title'],
        name: "WidgetLinks"
    }
</script>

<style scoped>

</style>